<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Learning_BrandModule>
            <version>0.1.0</version>
        </Learning_BrandModule>
    </modules>

    <global>
        <helpers>
            <learning_brandmodule>
                <class>Learning_BrandModule_Helper</class>
            </learning_brandmodule>
        </helpers>

        <blocks>
            <learning_brandmodule>
                <class>Learning_BrandModule_Block</class>
            </learning_brandmodule>
        </blocks>

        <models>
            <learning_brandmodule>
                <class>Learning_BrandModule_Model</class>
                <resourceModel>learning_brandmodule_resource</resourceModel>
            </learning_brandmodule>
            <learning_brandmodule_resource>
                <class>Learning_BrandModule_Model_Resource</class>
                <entities>
                    <brand>
                        <table>learning_brandmodule_brand</table>
                    </brand>
                </entities>
            </learning_brandmodule_resource>
        </models>

        <resources>
            <learning_brandmodule_setup>
                <setup>
                    <module>Learning_BrandModule</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </learning_brandmodule_setup>
            <learning_brandmodule_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </learning_brandmodule_write>
            <learning_brandmodule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </learning_brandmodule_read>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Learning_BrandModule_Adminhtml before="Mage_Adminhtml">Learning_BrandModule_Adminhtml
                        </Learning_BrandModule_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>
