<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <learning_BrandPackage>
            <version>0.1.0</version>
        </learning_BrandPackage>
    </modules>
    <global>
        <helpers>
            <learning_brandpackage>
                <class>Learning_BrandPackage_Helper</class>
            </learning_brandpackage>
        </helpers>
        <blocks>
            <learning_brandpackage>
                <class>Learning_BrandPackage_Block</class>
            </learning_brandpackage>
        </blocks>
        <models>
            <learning_brandpackage>
                <class>Learning_BrandPackage_Model</class>
                <resourceModel>learning_brandpackage_resource</resourceModel>
            </learning_brandpackage>
            <learning_brandpackage_resource>
                <class>Learning_BrandPackage_Model_Resource</class>
                <entities>
                    <brand>
                        <table>learning_brandpackage_brand</table>
                    </brand>
                </entities>
            </learning_brandpackage_resource>
        </models>
        <resources>
            <learning_brandpackage_setup>
                <setup>
                    <module>Learning_BrandPackage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </learning_brandpackage_setup>
            <learning_brandpackage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </learning_brandpackage_write>
            <learning_brandpackage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </learning_brandpackage_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Learning_BrandPackage_Adminhtml before="Mage_Adminhtml">Learning_BrandPackage_Adminhtml</Learning_BrandPackage_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <learning_brandpackage>
                    <file>learning/brandpackage.xml</file>
                </learning_brandpackage>
            </updates>
        </layout>
    </adminhtml>
</config>
